body {
  padding: 0;
  margin:0;
  background-color: gainsboro;
}

.wrapper {
  width: 500px;
  margin:0 auto;
  text-align: center;
}

.header-title {
  color:blue;
  font-size: 1.5rem;
}

.table {
  height: 300px;
  width: 300px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #8fe8e1;
  border: 5px solid #8fe8e1;
}

#flagsCount {
  font-size: 20px;
  text-align: center;
}
